<main class="container">
  <div id="timer__container">
    <div id="timer__current">
      00:00:00
    </div>
    <button id="activity__stop" type="button">
      <i class="fa fa-stop" aria-hidden="true"></i>stop
    </button>
  </div>
  <div class="timer__row">
    <button type="button" id="activity__sleep" class="timer__activity">
      <i class="fa fa-moon-o" aria-hidden="true"></i>&nbsp Sleep
    </button>
    <button type="button" id="activity__work" class="timer__activity">
      <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp  Work
    </button>
    <button type="button" id="activity__excercise" class="timer__activity">
      <i class="fa fa-bicycle" aria-hidden="true"></i>
      </i>&nbspExcercise
    </button>
    <button type="button" id="activity__errands" class="timer__activity">
      <i class="fa fa-moon-o" aria-hidden="true"></i>&nbspErrands
    </button>
    <button type="button" id="activity__eat" class="timer__activity">
      <i class="fa fa-moon-o" aria-hidden="true"></i>&nbspEat
    </button>
    <button type="button" id="activity__entertainment" class="timer__activity">
      <i class="fa fa-moon-o" aria-hidden="true"></i>&nbspEntertainment
    </button>
    <button type="button" id="activity__learning" class="timer__activity">
      <img src="images/learning.svg" style="width:20px; height:20px;" alt="learning-icon">&nbspLearning
    </button>
  </div>
</main>
