<main class="container">
  <div id="timer__container">
    <div id="timer__current">
      00:00:00
    </div>
    <button id="activity__stop" type="button">
      <i class="fa fa-stop" aria-hidden="true"></i>stop
    </button>
  </div>
  <div class="timer__row" id="activity__container">
    <button type="button" id="activity__sleep" class="timer__activity">
      <img src="images/sleep.svg" style="width:30px; height:30px;vertical-align:-9.5px;" alt="sleep-icon">&nbsp Sleep
    </button>
    <button type="button" id="activity__work" class="timer__activity">
      <img src="images/work.svg" style="width:30px; height:30px; vertical-align:-9.5px;" alt="work-icon">&nbsp  Work
    </button>
    <button type="button" id="activity__excercise" class="timer__activity">
      <img src="images/exercise.svg" style="width:30px; height:30px;vertical-align:-9.5px;" alt="exercise">
      </i>&nbspExcercise
    </button>
    <button type="button" id="activity__errands" class="timer__activity">
      <img src="images/errands.svg" style="width:30px; height:30px;vertical-align:-9.5px;" alt="errands-icon"></i>&nbsp&nbspErrands
    </button>
    <button type="button" id="activity__eat" class="timer__activity">
      <img src="images/eat.svg" style="width:30px; height:30px; vertical-align:-9.5px;" alt="eat-icon">&nbspEat
    </button>
    <button type="button" id="activity__entertainment" class="timer__activity">
      <img src="images/entertainment.svg" style="width:30px; height:30px;vertical-align:-9.5px;" alt="entertainment-icon">&nbspEntertainment
    </button>
    <button type="button" id="activity__learning" class="timer__activity">
        <img src="images/learning.svg" style="width:30px; height:30px; vertical-align:-9.5px;" alt="learning-icon">&nbspLearning
    </button>
  </div>
</main>
