<section class="main__container--limited-width">
  <h1 class="main__litle">Help</h1>
<p>Welcome to the Tpilot help</p>
</section>

{{#each activity}}
<form action="/popup" method="get">
<button type="submit"><li id='activity'>
  {{this}}
</li>
</button>
</form>
{{/each}}
