<section class="main__container--limited-width">
  <h1 class="main__litle"> Welcome to Tpilot help<h1>
  <h2>Task</h2>
  <p>To start, please choose one of 6 icons and timer will start automatically. Once you are done with task, click 'stop' button to go back to base. </p>
  <h2>Insight</h2>
  <p>Insight function provides a simple analysis of your time spending pattern. The pie chart tells you how much time you spend on each task within current date in percentage and in total aggregated time.</p>
  <h2>Setting</h2>
  <p>In setting, you can customize a theme color, chart setting, alarm setting and also an access to send feedback to Tpilot dev team.</p>
</section>
