<section class="main__container--limited-width">
  <!-- <h1 class="main__litle">insight</h1>
<p>Welcome to your insight</p> -->
<h1 style="font-size:1.5rem;">Daily Analysis{{name}}</h1>
<div id="trackedTime"style="font-size:1.3rem;">Tracked time : 16:30:22</div>
<div id="untrackedTime"style="font-size:1.3rem;">Untracked time : 05:30:13</div>

<div class="result__container"id="resultContainer">
  <div class="result__row"id="sleep">
  Sleep > 08:30:00</div>
  <div class="result__row"id="work">
  Work > 04:30:00</div>
  <div class="result__row"id="exercise">
  Exercise > 01:20:00</div>
  <div class="result__row"id="errands">
  Errands > 00:30:10</div>
  <div class="result__row"id="eat">
  Eat > 01:23:10</div>
  <div class="result__row"id="entertainment">
  Entertainment > 0:36:00</div>
  <div class="result__row"id="learning">
  Learning > 02:30:00</div>


</div>
</section>
