<footer class="navbar">
  <div class="navbar__container">
    <nav class="navbar__nav" role="navigation">
      <ul class="navbar__list">
        <li class='navbar__item'>
          <a class="navbar__link {{#if activePage.base}}navbar__link--active{{/if}}" href="/">Task</a>
        </li>
        <li class='navbar__item'>
          <a class="navbar__link {{#if activePage.insight}}navbar__link--active{{/if}}" href="/insight">Insight</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link {{#if activePage.setting}}navbar__link--active{{/if}}" href="/setting">Setting</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link {{#if activePage.help}}navbar__link--active{{/if}}" href="/help">Help</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
