<!DOCTYPE html>
<html>
  {{>htmlHead}}
  <body>
    {{>header}}
    <main class='main'>
      {{{body}}}
    </main>
    {{>footer}}

      <script src='header.js'></script>
      <script src='insight.js'></script>
      <script src="timer.js"></script>
      <script src="control.js"></script>
  </body>
</html>
